/* HEAD */
.head {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 50px;
  background-color: #a4d9eb;
  border: 5px solid #9bbcc2;
  border-radius: 20px;
}

/* LIGHT */
.light {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BULB */
.bulb {
  width: 30px;
  height: 30px;
  background-color: #ffa500;
  border-radius: 50%;
}

/* STICK */
.stick {
  width: 10px;
  height: 15px;
  background-color: #808080;
  margin-top: -5px;
}

/* EARS */
.ears {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.ear {
  width: 10px;
  height: 50px;
  background-color: #c90a0a;
}

.ear:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: -10px;
}

.ear:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: -10px;
}

/* EYES */
.eyes {
  position: absolute;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.eye {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 5px solid #00b3ff;
  border-radius: 50%;
}

/* NOSE */
.nose {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #c90a0a;
}

/* MOUTH */
.mouth {
  position: absolute;
  bottom: 30px;
  width: 100px;
  height: 25px;
  background-color: #dedede;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

/* TEETH */
.tooth {
  width: 5px;
  height: 100%;
  background-color: black;
}
